In [1]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
# Read the original data
data = pd.read_csv('/home/usuario-leticia/Desktop/Samuel/leticiaag/tcore/data/processed-data/raw-data1-1km.csv')

# Define trial numbers to remove
trials_to_remove = [68, 32, 1, 71, 16]

# Remove the specified trials
data_filtered = data[~data['trial_number'].isin(trials_to_remove)]

# Print the shape before and after filtering
print(f"Original dataset shape: {data.shape}")
print(f"Filtered dataset shape: {data_filtered.shape}")

# Verify removed trials
print("\nRemoved trials verification:")
for trial in trials_to_remove:
    count = len(data[data['trial_number'] == trial])
    print(f"Trial {trial}: {count} rows removed")

# Update the data variable with filtered data
data = data_filtered

Original dataset shape: (750, 14)
Filtered dataset shape: (700, 14)

Removed trials verification:
Trial 68: 10 rows removed
Trial 32: 10 rows removed
Trial 1: 10 rows removed
Trial 71: 10 rows removed
Trial 16: 10 rows removed

In [3]:
data.head(10)

,trial_number,age,vo2máx,core_temp,kilometer,skin_temp,heart_rate,speed,wbgt,dry_temp,wet_temp,relative_humidity,umidade_absoluta,column_Male
10,2,28,54.7,36.31,1,33.84,136,9.60,29.68,33.00,28.25,69.5,24.777,True
11,2,28,54.7,36.70,2,34.04,143,9.68,29.85,33.00,28.50,71.0,25.312,True
12,2,28,54.7,37.19,3,34.46,146,9.65,29.83,33.05,28.45,71.0,25.379,True
13,2,28,54.7,37.56,4,34.12,152,9.78,29.81,33.10,28.40,71.0,25.447,True
14,2,28,54.7,38.01,5,34.77,156,9.68,29.83,33.05,28.45,71.0,25.379,True
15,2,28,54.7,38.35,6,34.67,164,9.63,29.85,33.00,28.50,71.0,25.312,True
16,2,28,54.7,38.59,7,35.04,169,10.08,29.99,33.00,28.70,71.0,25.312,True
17,2,28,54.7,38.89,8,34.77,169,9.94,30.13,33.00,28.90,71.0,25.312,True
18,2,28,54.7,39.19,9,35.33,179,9.89,29.99,33.00,28.70,71.0,25.312,True
19,2,28,54.7,39.55,10,35.11,188,10.71,29.85,33.00,28.50,71.0,25.312,True

In [4]:
# Save the filtered dataset
# data_filtered.to_csv('/home/usuario-leticia/Desktop/Samuel/leticiaag/tcore/data/processed-data/raw-data1-1km-filtered.csv', index=False)
# print("Filtered dataset saved successfully")

In [7]:
X = data.drop(['core_temp', 'trial_number'], axis=1)
y = data['core_temp']
groups = data['trial_number']

In [8]:
X.to_csv('/home/usuario-leticia/Desktop/Samuel/leticiaag/tcore/data/processed-data/X-data1-1km.csv', index=False)
y.to_csv('/home/usuario-leticia/Desktop/Samuel/leticiaag/tcore/data/processed-data/y-data1-1km.csv', index=False)
groups.to_csv('/home/usuario-leticia/Desktop/Samuel/leticiaag/tcore/data/processed-data/groups-data1-1km.csv', index=False)