#Importando bibliotecas

In [1]:
import pandas as pd
import numpy as np

#Importando base de dados

In [2]:
df = pd.read_csv('/home/usuario-leticia/Desktop/Samuel/leticiaag/tcore/data/raw-data/dados-brutos-tcoreend.csv')

In [3]:
df.head()

,Participant,Sex,End-TCORE,Initial TCORE °C,Mean TSKIN °C,TCORE - TSKIN °C,Sweat rate L×h-1,Water intake mL,Speed km×h-1,VO2MAX mL×kg-1×min-1,Heart rate bpm,Body mass kg,Delta mass %,WBGT °C,TDRY °C,TWET °C,"Rel, humidity %"
0,1,Male,"40,75","37,27","35,48","3,55","1,54",340,"10,0","63,3",178,"67,00","1,79","29,70","32,90","28,33","70,50"
1,2,Male,"39,55","36,06","34,51","3,34","1,14",180,"9,9","54,7",153,"86,78","1,13","29,83","33,02","28,47","70,50"
2,3,Male,"38,90","36,46","34,42","3,33","1,46",180,"9,2","65,2",135,"71,30","1,96","29,73","33,00","28,33","69,67"
3,4,Male,"39,72","36,58","35,26","2,75","1,01",694,"10,1","67,0",137,"64,80","0,47","29,85","33,00","28,50","70,00"
4,5,Male,"39,65","36,88","33,95","4,18","1,55",240,"9,7","60,9",152,"71,50","1,90","30,19","33,15","28,92","73,50"

In [4]:
df.tail()

,Participant,Sex,End-TCORE,Initial TCORE °C,Mean TSKIN °C,TCORE - TSKIN °C,Sweat rate L×h-1,Water intake mL,Speed km×h-1,VO2MAX mL×kg-1×min-1,Heart rate bpm,Body mass kg,Delta mass %,WBGT °C,TDRY °C,TWET °C,"Rel, humidity %"
70,71,Male,"40,56","37,27","35,81","3,01","2,01",313,"14,9","58,2",169,"61,82","1,68","28,99","32,89","27,31","64,18"
71,72,Male,"39,19","36,47","35,03","2,78","2,26",332,"10,9","50,4",160,"83,20","2,09","29,03","32,75","27,44","65,73"
72,73,Male,"39,60","37,06","34,87","3,52","2,20",607,"12,7","55,0",163,"85,16","1,32","28,82","32,75","27,13","63,82"
73,74,Male,"39,50","36,74","34,95","3,15","1,64",268,"11,7","49,6",165,"80,94","1,41","28,87","32,80","27,18","63,91"
74,75,Male,"39,95","37,00","34,65","3,96","1,53",205,"9,5","44,1",164,"75,64","1,85","28,98","32,89","27,30","64,09"

#Pré-processamento

In [5]:
#Substituindo caracteres inválidos
df.columns = df.columns.str.strip().str.replace(' ', '_').str.replace('[^0-9a-zA-Z_]', '', regex=True)
print(df.columns)

Index(['Participant', 'Sex', 'EndTCORE', 'Initial_TCORE_C', 'Mean_TSKIN_C',
       'TCORE__TSKIN_C', 'Sweat_rate_Lh1', 'Water_intake_mL', 'Speed_kmh1',
       'VO2MAX_mLkg1min1', 'Heart_rate_bpm', 'Body_mass_kg', 'Delta_mass_',
       'WBGT_C', 'TDRY_C', 'TWET_C', 'Rel_humidity_'],
      dtype='object')

In [6]:
df.isnull().sum() #procurando por dados nan ou na

Participant         0
Sex                 0
EndTCORE            0
Initial_TCORE_C     0
Mean_TSKIN_C        0
TCORE__TSKIN_C      0
Sweat_rate_Lh1      0
Water_intake_mL     0
Speed_kmh1          0
VO2MAX_mLkg1min1    0
Heart_rate_bpm      0
Body_mass_kg        0
Delta_mass_         0
WBGT_C              0
TDRY_C              0
TWET_C              0
Rel_humidity_       0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Participant       75 non-null     int64
 1   Sex               75 non-null     object
 2   EndTCORE          75 non-null     object
 3   Initial_TCORE_C   75 non-null     object
 4   Mean_TSKIN_C      75 non-null     object
 5   TCORE__TSKIN_C    75 non-null     object
 6   Sweat_rate_Lh1    75 non-null     object
 7   Water_intake_mL   75 non-null     int64
 8   Speed_kmh1        75 non-null     object
 9   VO2MAX_mLkg1min1  75 non-null     object
 10  Heart_rate_bpm    75 non-null     int64
 11  Body_mass_kg      75 non-null     object
 12  Delta_mass_       75 non-null     object
 13  WBGT_C            75 non-null     object
 14  TDRY_C            75 non-null     object
 15  TWET_C            75 non-null     object
 16  Rel_humidity_     75 non-null     object
dtypes: int64(3), object(14)
memory usage: 10.1+ KB

In [8]:
#Tocando ponto por vírgula
for columns in df.columns:
  if columns != 'Sex' and df[columns].dtype == 'object':
    df[columns] = df[columns].str.replace(',', '.').astype(float)

In [9]:
#Modificando a estrutura de dados
for columns in df.columns:
  if columns != 'Sex' and df[columns].dtype == 'object':
    df[columns] = pd.to_numeric(df[columns])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Participant       75 non-null     int64
 1   Sex               75 non-null     object
 2   EndTCORE          75 non-null     float64
 3   Initial_TCORE_C   75 non-null     float64
 4   Mean_TSKIN_C      75 non-null     float64
 5   TCORE__TSKIN_C    75 non-null     float64
 6   Sweat_rate_Lh1    75 non-null     float64
 7   Water_intake_mL   75 non-null     int64
 8   Speed_kmh1        75 non-null     float64
 9   VO2MAX_mLkg1min1  75 non-null     float64
 10  Heart_rate_bpm    75 non-null     int64
 11  Body_mass_kg      75 non-null     float64
 12  Delta_mass_       75 non-null     float64
 13  WBGT_C            75 non-null     float64
 14  TDRY_C            75 non-null     float64
 15  TWET_C            75 non-null     float64
 16  Rel_humidity_     75 non-null     float64
dtypes: float64(13), int64(3), object(1)
memory usage: 10.1+ KB

#Seprando as base de dados para cada modelo

##Modelo 1

In [11]:
dados_modelo_1 = df[["EndTCORE", "WBGT_C", "Speed_kmh1", "Initial_TCORE_C", "Body_mass_kg", "TCORE__TSKIN_C", "Mean_TSKIN_C", "Sweat_rate_Lh1", "VO2MAX_mLkg1min1", "Heart_rate_bpm", "Delta_mass_"]]

In [12]:
dados_modelo_1.head()

,EndTCORE,WBGT_C,Speed_kmh1,Initial_TCORE_C,Body_mass_kg,TCORE__TSKIN_C,Mean_TSKIN_C,Sweat_rate_Lh1,VO2MAX_mLkg1min1,Heart_rate_bpm,Delta_mass_
0,40.75,29.70,10.0,37.27,67.00,3.55,35.48,1.54,63.3,178,1.79
1,39.55,29.83,9.9,36.06,86.78,3.34,34.51,1.14,54.7,153,1.13
2,38.90,29.73,9.2,36.46,71.30,3.33,34.42,1.46,65.2,135,1.96
3,39.72,29.85,10.1,36.58,64.80,2.75,35.26,1.01,67.0,137,0.47
4,39.65,30.19,9.7,36.88,71.50,4.18,33.95,1.55,60.9,152,1.90

In [13]:
dados_modelo_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   EndTCORE          75 non-null     float64
 1   WBGT_C            75 non-null     float64
 2   Speed_kmh1        75 non-null     float64
 3   Initial_TCORE_C   75 non-null     float64
 4   Body_mass_kg      75 non-null     float64
 5   TCORE__TSKIN_C    75 non-null     float64
 6   Mean_TSKIN_C      75 non-null     float64
 7   Sweat_rate_Lh1    75 non-null     float64
 8   VO2MAX_mLkg1min1  75 non-null     float64
 9   Heart_rate_bpm    75 non-null     int64
 10  Delta_mass_       75 non-null     float64
dtypes: float64(10), int64(1)
memory usage: 6.6 KB

In [14]:
#Descomentar a linha abaixo para salvar o DataFrame em um arquivo CSV
#dados_modelo_1.to_csv('dados_modelo_1.csv', index=False)

##Modelo 2

In [15]:
dados_modelo_2 = df[["EndTCORE","WBGT_C", "Speed_kmh1", "Initial_TCORE_C", "TCORE__TSKIN_C", "Sweat_rate_Lh1","VO2MAX_mLkg1min1", "Heart_rate_bpm", "Delta_mass_" ]]

In [16]:
dados_modelo_2.head()

,EndTCORE,WBGT_C,Speed_kmh1,Initial_TCORE_C,TCORE__TSKIN_C,Sweat_rate_Lh1,VO2MAX_mLkg1min1,Heart_rate_bpm,Delta_mass_
0,40.75,29.70,10.0,37.27,3.55,1.54,63.3,178,1.79
1,39.55,29.83,9.9,36.06,3.34,1.14,54.7,153,1.13
2,38.90,29.73,9.2,36.46,3.33,1.46,65.2,135,1.96
3,39.72,29.85,10.1,36.58,2.75,1.01,67.0,137,0.47
4,39.65,30.19,9.7,36.88,4.18,1.55,60.9,152,1.90

In [17]:
dados_modelo_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   EndTCORE          75 non-null     float64
 1   WBGT_C            75 non-null     float64
 2   Speed_kmh1        75 non-null     float64
 3   Initial_TCORE_C   75 non-null     float64
 4   TCORE__TSKIN_C    75 non-null     float64
 5   Sweat_rate_Lh1    75 non-null     float64
 6   VO2MAX_mLkg1min1  75 non-null     float64
 7   Heart_rate_bpm    75 non-null     int64
 8   Delta_mass_       75 non-null     float64
dtypes: float64(8), int64(1)
memory usage: 5.4 KB

In [18]:
#Descomentar a linha abaixo para salvar o DataFrame em um arquivo CSV
#dados_modelo_2.to_csv('dados_modelo_2.csv', index=False)

##Modelo 3

In [19]:
dados_modelo_3 = df[["EndTCORE", "Heart_rate_bpm", "Sweat_rate_Lh1", "WBGT_C", "Speed_kmh1", "VO2MAX_mLkg1min1"]]

In [20]:
dados_modelo_3.head()

,EndTCORE,Heart_rate_bpm,Sweat_rate_Lh1,WBGT_C,Speed_kmh1,VO2MAX_mLkg1min1
0,40.75,178,1.54,29.70,10.0,63.3
1,39.55,153,1.14,29.83,9.9,54.7
2,38.90,135,1.46,29.73,9.2,65.2
3,39.72,137,1.01,29.85,10.1,67.0
4,39.65,152,1.55,30.19,9.7,60.9

In [21]:
dados_modelo_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   EndTCORE          75 non-null     float64
 1   Heart_rate_bpm    75 non-null     int64
 2   Sweat_rate_Lh1    75 non-null     float64
 3   WBGT_C            75 non-null     float64
 4   Speed_kmh1        75 non-null     float64
 5   VO2MAX_mLkg1min1  75 non-null     float64
dtypes: float64(5), int64(1)
memory usage: 3.6 KB

In [22]:
#Descomentar a linha abaixo para salvar o DataFrame em um arquivo CSV
#dados_modelo_3.to_csv('dados_modelo_3.csv', index=False)